.box-doados{
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 100%;
    display: flex;
    margin: 20px;
    width: 100%;
}

.box-livro{
    width: 245px;
    height: 264;
    border: 3px solid #005695;
    border-radius: 10px;
}

.title-doados{
 padding: 30px;
}