.Header{
    background-color: #22a;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 10rem;
}
.menu{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
ul{
    list-style: none;
}