.Header{
    background: linear-gradient(90deg, rgba(0,27,47,1) 0%, rgba(0,86,149,1) 100%, rgba(0,212,255,1) 100%);
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-around;
    height: 10rem;
}

.title{
    display: flex;
    align-items: center;
    justify-content: center;
}

.menu{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
a{
    color: #fff;
    text-decoration: none;
}
ul{
    list-style: none;
}
img{
    width: 4rem;
}
.search{
    display: flex;
    // width:40rem;
    // height: 3rem;
    // border: 2px white solid;
    // border-radius: 16px;
}
.search img{
    width: 1.4rem;
}

input{
    display: flex;
    width:20rem;
    height: 3rem;
    border: 2px white solid;
    border-radius: 16px;
    background-color:  #005695;
    color: #fff;
}
input::placeholder {
    justify-content: flex-end;
    font-weight: bold;
    opacity: 0.5;
    color: #fff;
    align-items: center;
  }